// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.add-button i {
  padding-right: 10px;
}

.back-button {
  width: 300px;
}

.create-button {
  color: white;
}
